Code generated by codeium with context of html file

In [9]:
import os
import glob
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

# Define the folder where HTML files are stored
html_folder = ".\mock_roe_4"  # Change this to your actual folder

# List all HTML files in the folder
html_files = glob.glob(os.path.join(html_folder, "*.html"))

# List to store extracted data
data = []

# Extract data from each HTML file
for file in html_files:
    with open(file, "r", encoding="utf-8") as f:
        soup = BeautifulSoup(f, "html.parser")
        
        # Extract postal code from the heading
        h1_tag = soup.find("h1")
        if h1_tag:
            postal_code = h1_tag.text.strip().split()[-1]  # Extracting last word (postal code)

        # Find all tables
        tables = soup.find_all("table")

        for table in tables:
            rows = table.find_all("tr")
            business_data = {}
            
            # Iterate through table rows
            for row in rows:
                cells = row.find_all("td")
                if len(cells) == 4:
                    key1, val1, key2, val2 = [cell.text.strip() for cell in cells]
                    business_data[key1] = val1
                    business_data[key2] = val2

            # Extract latitude and longitude if available
            if "latitude" in business_data and "longitude" in business_data:
                try:
                    latitude = float(business_data["latitude"])
                    longitude = float(business_data["longitude"])
                except ValueError:
                    continue  # Skip invalid lat/lon values

            # Extract other business data
            if "business_id" in business_data:
                data.append({
                    "postal_code": postal_code,
                    "business_id": business_data["business_id"],
                    "address": business_data["address"],
                    "city": business_data["city"],
                    "phone_number": business_data["phone_number"],
                    "tax_code": business_data["tax_code"],
                    "business_certificate": business_data["business_certificate"],
                    "owner_name": business_data["owner_name"],
                    "owner_address": business_data["owner_address"],
                    "latitude": latitude, 
                    "longitude": longitude,
                    "owner_city": business_data["owner_city"],
                    "owner_state": business_data["owner_state"],
                    "owner_zip": business_data["owner_zip"]
                })

# Convert list to DataFrame
df = pd.DataFrame(data)

# Save to CSV file
df.to_csv("business_data.csv", index=False)

<>:8: SyntaxWarning: invalid escape sequence '\m'
<>:8: SyntaxWarning: invalid escape sequence '\m'
C:\Users\Ritwik\AppData\Local\Temp\ipykernel_33540\4162552937.py:8: SyntaxWarning: invalid escape sequence '\m'
  html_folder = ".\mock_roe_4"  # Change this to your actual folder

In [11]:
wdata =df[df["postal_code"]== "94110"]

In [12]:
wdata

,postal_code,business_id,address,city,phone_number,tax_code,business_certificate,owner_name,owner_address,latitude,longitude,owner_city,owner_state,owner_zip
1410,94110,45,3202 FOLSOM St,S.F.,null,H24,340024,"HARB, CHARLES AND KRISTIN",1150 SANCHEZ,37.7471,-122.414,S.F.,CA,94114
1411,94110,95,419 CORTLAND Ave,S.F.,null,H24,380576,"LIGURIA INVESTMENTS (Giuseppe Manna, Vega Free...",419 Cortland Avenue,37.7392,-122.417,S.F.,CA,94110
1412,94110,180,3459 MISSION St,SF,14155288985,H24,452950,"LEMUS, ANA",3459 MISSION St,37.7415,-122.422,SF,CA,94110
1413,94110,184,1109 VALENCIA St,SF,14155827659,H24,341342,"NAVARRETE, VICTOR",1109 VALENCIA St,37.7551,-122.421,SF,CA,94110
1414,94110,217,400 CORTLAND Ave,S.F.,null,H24,347088,"BENARAFA, A.A. AND BOUJEBHA, M",780 25TH AVE. #3,37.7391,-122.418,S.F.,CA,94121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1737,94110,71087,2817 24th St,S.F.,null,H25,474690,Sip N Eat Corp,2817 24th St.,37.7528,-122.409,SF,CA,94110
1738,94110,71174,2976 MISSION St,SF,14155645958,H25,474938,Ahmad Nasser: Hajem Almudad & Old Jerusalem Re...,491 Milton Ave 3,37.7493,-122.418,San Bruno,CA,94066
1739,94110,71380,659 Valencia St,SF,14155827000,H26,444070,Akuranvyka USA Inc.,35 Stonepine Road,37.7623,-122.422,Hillsborough,CA,94010
1740,94110,71649,2074 MISSION St,SF,14155793644,H25,476172,Mahmood Alhakim,2074 Mission Street,37.7639,-122.420,San Francisco,CA,94110
1741,94110,71761,3140 MISSION St,S.F.,14155726940,H26,396689,Blue Ice Entertainment LLC,3140 Mission St.,37.7470,-122.419,SF,CA,94110

In [13]:
import sqlalchemy as sql
engine = sql.create_engine("sqlite:///./mock_roe_4/violations.db")
db_data = pd.read_sql("select * from violations", engine)

In [14]:
db_data

,business_id,date,violation_type_id,risk_category,description
0,10,2014-07-29,103129,Moderate Risk,Insufficient hot water or running water
1,10,2014-07-29,103144,Low Risk,Unapproved or unmaintained equipment or utensils
2,10,2014-01-14,103119,Moderate Risk,Inadequate and inaccessible handwashing facili...
3,10,2014-01-14,103145,Low Risk,Improper storage of equipment utensils or linens
4,10,2014-01-14,103154,Low Risk,Unclean or degraded floors walls or ceilings
...,...,...,...,...,...
36045,88878,2016-08-19,103144,Low Risk,Unapproved or unmaintained equipment or utensils
36046,88878,2016-08-19,103124,Moderate Risk,Inadequately cleaned or sanitized food contact...
36047,89072,2016-09-22,103120,Moderate Risk,Moderate risk food holding temperature
36048,89072,2016-09-22,103131,Moderate Risk,Moderate risk vermin infestation
36049,89072,2016-09-22,103149,Low Risk,Wiping cloths not clean or properly stored or ...